{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="piensos mb-5">
    <div class="col-lg-8 col-md-8 col-sm-6 offset-lg-2 offset-md-2 offset-sm-3 text-center">
        <h3 class="title">Alimentación Bittal: da salud a tu mascota</h3>
        <hr>
        <br>
        <br>
        <img src="{% static 'img/piensos.png' %}" class="img-piensos">
    </div>
    <br>
    <br>
    <br>
    <div class="row mt-4">
        <div class="col-8 col-sm-6 offset-sm-3 offset-2">
            <p>Tras muchos años de experiencia, buscábamos un alimento que cubriera todas las necesidades nutricionales
                de nuestros pacientes con productos naturales y de alta calidad. Necesitábamos poder dar una
                alimentación capaz de prevenir la mayor cantidad de enfermedades aumentado la salud y esperanza de vida
                de tu mascota.
            <div class="col-12">
                Encontrar un alimento equilibrado y con los mejores ingredientes, a un precio justo y alejado de las
                modas nos ha llevado tiempo.</p>
            </div>
        </div>
        <div class="col-8 col-sm-6 offset-sm-3  offset-2">
            Después de haberlo probado con nuestros perros y con muchos de nuestros pacientes estamos convencidos de
            poder ayudar a más personas a cuidar mejor de su mascota. </div>

    </div>
    <br>
    <div class="col-8 col-sm-6 offset-sm-3  offset-2">
        Un alimento sano, natural, equilibrado y una actividad física acorde a cada edad de cada animal nos permitirá
        tener pacientes más sanos y con mejor calidad de vida. </p>
    </div>
</div>
<br>
<div class="col-8 col-sm-6 offset-sm-3 text-center offset-2 mb-5">
    <br>
    <p>Más información sobre <a href="http://www.inutrivet.com/">Alimentación Bittal</a></p>
</div>
</div>
</div>
{% endblock %}